$fontSize: 1rem; 
$lineHeight: 1rem;
$fontFamily: helvetica, arial, 'sans-serif'; 

* {
	
	font-family: $fontFamily;

	body {
		margin: 0;
		padding: 0;
		text-align: center;

		header {
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 15rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
			
			background-color: gray;

			box-shadow: 2px 2px 2px 2px grey;

			img {
				
				margin: auto 1rem;
				flex-grow: 1;
				max-width: 200px;
				max-height: 100px;
			}

			h4 {
				&.headline {
					flex-grow: 1;		
					white-space: nowrap;
				}
			}

			nav {
				width: 50%;
				align-self: flex-start;
				flex-grow: 2;				
				

				> ul {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					flex-wrap: nowrap;
					padding-left: 0;

					li {
						list-style: none;
					}
				}
			}	
		}

		.container {
			max-width: 55%;
			margin: 0 auto;
			margin-top: 16rem;

			section {
				margin-bottom: 1rem;
				padding: 1rem;

				&:nth-child(even) {
					background-color: #CCCCCC;
				}

				&.phones {

					.phones-container {
						display: flex;
						flex-direction: row;

						.container {
							margin-top: $lineHeight;

							h3 {
								margin-top: 0;
							}

							ul {
								text-align: left;
							}

							&.prime {

							}

							&.endure {

							}

							&.zero {

							}

						}
					}
				}

				&.specs {

					.spec-grid-container {
						display: flex;
						flex-direction: row;

						article {

							&.phone {
								margin-right: $lineHeight;

								&:last-child {
									margin-right: 0;
								}

								ul {
									margin: 0;
									padding: 0;
									list-style: none;
									text-align: left;
									
									li {
										padding-bottom: $lineHeight * .5;
										margin-bottom: $lineHeight * .75;
										font-size: $fontSize * .9;
										min-height: 4rem;
										border-bottom: 1px solid #DDD;

										&:last-child {
											border-bottom: transparent;
										}

										h5 {
											margin-top: 0;
											margin-bottom: $lineHeight * .5;
											line-height: $lineHeight;
											font-weight: 100;
											color: #555;
										}

									}
								}
							}
						}
					}
				}

				&.demo {
					iframe {
						width: 100%;
					}
				}

				&.why-modphone {
					ul {
						list-style: none;
					}
				}
			}
		}
		
		footer {
			width: 100%;
			margin-top: $lineHeight * 2;
			padding: $lineHeight;
			text-align: left;
			font-size: $fontSize * .8;
			background-color: gray;
		}
	}
}